---
import '../styles/global.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
    title?: string;
    description?: string;
    isHome?: boolean;
}

const { 
    title = SITE_TITLE, 
    description = SITE_DESCRIPTION,
    isHome = false 
} = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <meta name="description" content={description}>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
</head>
<body>
    <Header isHome={isHome} />
    
    <main id="posts-container">
        <slot />
    </main>
    
    <Footer />
</body>
</html>
